.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #e0e0e0;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
