.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: opacity 0.4s ease, visibility 0s 0.4s;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Property 1=Default (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__title {
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 34px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.modal__input {
  width: 100%;
  max-width: 630px;
  box-sizing: border-box;
  padding: 22px 12px 12px;
  border: 1px solid #0002;
  border-radius: 8px;
  font-size: 20px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  width: auto;
  display: inline-block;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_type_preview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.modal__preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
}

.modal__image {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  display: block;
}

.modal__caption {
  margin-top: 10px;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.modal__close-button_type_preview {
  position: absolute;
  top: -50px;
  left: 956px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Property 1=Variant3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 282px;
    padding: 22px;
  }

  .modal__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 20px;
  }

  .modal__close-button_type_preview {
    top: -40px;
    right: 0;
  }
}
