.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s ease, visibility 0s 0.4s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;

  transition: opacity 0.4s ease, visibility 0s;
}

.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 430px;
  transform: scale(0.95);
  transition: transform 0.3s ease;

  opacity: 1;
}

.modal_is-opened .modal__container {
  transform: scale(1);
}

.modal__close-button {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 40px;
  height: 40px;
  background-image: url('images/Property 1=Default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  color: #000;
  margin: 0 0 54px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #000;
  margin-bottom: 32px;
}

.modal__input {
  margin-top: 8px;
  padding: 16px 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
}

.modal__button {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  padding: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 282px;
    padding: 22px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .modal__input {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  .modal__close-button {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
}
