.profile {
  display: flex;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
}

.profile__name {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  margin: 0 0 8px 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__about {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #212121b2;
  margin: 0 0 12px 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__add-button {
  display: flex;
  gap: 8px;
  width: 157px;
  height: 52px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  background-color: #212121;
  color: #fcf5e5;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.85;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  background-color: #fcf5e5;
  margin-top: auto;
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  color: #212121;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 1;
}

@media screen and (max-width: 629px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
    margin: 0 auto;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin: 0 0 12px 0;
  }

  .profile__info {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__name {
    font-size: 20px;
    text-align: center;
    margin: 0 0 6px;
  }

  .profile__about {
    text-align: center;
    margin: 0 0 32px;
  }

  .profile__add-button{
    margin: 0 auto;
    width: 100%;
  }

  .profile__edit-button {
    justify-content: center;
  }
}
